* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}
html {
  font-size: 15px !important;
  font-family: sans-serif !important;
}
body {
  background: white !important;
  background-image: url("img/fons.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 100%;
}
.container {
  width: 90% !important;
  max-width: 700px !important;
  min-height: 320px !important;
  margin: 0 auto !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
